
/*! #######################################################################

	MeanMenu 2.0.6
	--------
	
	To be used with jquery.meanmenu.js by Chris Wharton (http://www.meanthemes.com/plugins/meanmenu/)

####################################################################### */
@media only screen and ( max-width: 1080px ) /* 1000 */
    {

/* hide the link until viewport size is reached */
a.meanmenu-reveal {
	display: none;
}
.navholder {
 display: none;
}
.abovenav-holder {
	display: none;
}
.mean-nav ul {
	
}
.mspacer {
	height: 0px;
	clear: both;
	top: 0;
}
.social-holder {
	display: none;
			}

.navlogo {
	height: 72px;
	line-height: 72px;
	position: absolute;
	top: 0px;
}

.navlogo img {
	max-height: 58px;
	max-width: auto;
	padding: 5px;
	-webkit-transition: max-height .2s, max-width .2s;
	transition: max-height .2s, max-width .2s;

}
.mobilemenu {
	position: absolute;
	top: 0px;
	right: 60px;
}
.mobilemenu .rsmap {
    color:#999;
    text-align: center;
    display:inline-block;
    line-height: 8px;
  }
  .mobilemenu .rsphone {
    color:#999;
    text-align: center;
    display:inline-block;
    line-height: 8px;
    float: left;
    
  }
  .mobilemenu .rsphone a {
    color: #999;
    display: inline-block;
    text-decoration: none;
    height: 48px;
    width: 80px;
    padding: 10px 0px 10px 0px;
    line-height: 8px;
    
  }
  .mobilemenu .rsphone a i {
    font-size: 40px;
  }
  .mobilemenu .rsphone a span {
    display: block;
    color: #999;
    font-size: 10px;
    text-decoration: none;
    line-height: 8px;
  }
  .mobilemenu .rsmap a {
    color: #999;
    display: inline-block;
    text-decoration: none;
    height: 48px;
    width: 80px;
    padding: 10px 0px 10px 0px;
    line-height: 8px;
  }
  .mobilemenu .rsmap a i {
    font-size: 40px;
  }
  .mobilemenu .rsmap a span {
    display: block;
    color: #999;
    font-size: 10px;
    text-decoration: none;
  }
/* when under viewport size, .mean-container is added to body */
.mean-container .mean-bar {
	float: left;
	width: 100%;
	top: 0px;
	background: #fff;
	padding: 4px 0;
	margin: 0px 0px 0px 0px;
	min-height: 60px;
	z-index: 9999;
	position: relative;
	-webkit-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.35);
-moz-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.35);
box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.35);
}

.mean-container a.meanmenu-reveal {
	width: 42px;
	height: 42px;
	padding: 13px 13px 11px 13px;
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
	color: #999;
	text-decoration: none;
	font-size: 16px;
	text-indent: -9999em;
	line-height: 42px;
	font-size: 1px;
	display: block;
	font-weight: 700;
}

.mean-container a.meanmenu-reveal span {
	display: block;
	background: #999;
	height: 4px;
	margin-top: 8px;
}

.mean-container .mean-nav {
	float: left;
	width: 100%;
	background:#383e57;
	margin-top: 64px;
}
.mean-container .mean-nav ul ul{
	float: left;
	width: 100%;
	background: #383e57;
	margin-top: 44px;
}
.mean-container .mean-nav ul li {
	background: #0f1942;
}
.mean-container .mean-nav ul li li {
	background: #383e57;
}
.mean-container .mean-nav ul li li li {
	background: #5f6168;
}
.mean-container .mean-nav ul ul ul{
	float: left;
	width: 100%;
	background: #fcfcfc;
	margin-top: 44px;
}

.mean-container .mean-nav ul {
	padding: 0px !important;
	margin: 0px !important;
	width: 100%;
	list-style-type: none;
}

.mean-container .mean-nav ul li {
	position: relative;
	float: left;
	width: 100%;
}

.mean-container .mean-nav ul li a {
	display: block;
	float: left;
	width: 90%;
	padding: 13px 5%;
	margin: 0;
	text-align: left;
	color: #999;
	border-top: 1px solid #FFF;
	border-top: 1px solid rgba(255,255,255,0.5);
	text-decoration: none;
	color: #fff;
}

.mean-container .mean-nav ul li li a {
	width: 80%;
	padding: 1em 10%;
	border-top: 1px solid #f1f1f1;
	border-top: 1px solid rgba(255,255,255,0.25);
	opacity: 0.75;
	filter: alpha(opacity=75);
	text-shadow: none !important;
	visibility: visible;
}

.mean-container .mean-nav ul li.mean-last a {
	border-bottom: none;
	margin-bottom: 0;
}

.mean-container .mean-nav ul li li li a {
	width: 70%;
	padding: 1em 15%;
}

.mean-container .mean-nav ul li li li li a {
	width: 60%;
	padding: 1em 20%;
}

.mean-container .mean-nav ul li li li li li a {
	width: 50%;
	padding: 1em 25%;
}

.mean-container .mean-nav ul li a:hover {
	background: #252525;
	background: rgba(255,255,255,0.1);
}

.mean-container .mean-nav ul li a.mean-expand {
margin-top: 1px;
width: 24px;
height: 24px;
padding: 10px !important;
text-align: center;
position: absolute;
right: 0;
top: 0;
z-index: 2;
font-weight: 700;
background: rgba(255,255,255,0.1);
border: none !important;
border-left: 1px solid rgba(0,0,0,0.4) !important;
border-bottom: 1px solid rgba(0,0,0,0.2) !important;
}

.mean-container .mean-nav ul li a.mean-expand:hover {
	background: rgba(0,0,0,0.6);
}

.mean-container .mean-push {
	float: left;
	width: 100%;
	padding: 0;
	margin: 0;
	clear: both;
}

.mean-nav .wrapper {
	width: 100%;
	padding: 0;
	margin: 0;
}

/* Fix for box sizing on Foundation Framework etc. */
.mean-container .mean-bar, .mean-container .mean-bar * {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}


.mean-remove {
	display: none !important;
}
}
@media only screen and ( max-width: 480px ) /* 1000 */
    {
.navlogo img {
max-height: auto;
max-width: 120px;
}
.mobilemenu .rsphone a {
    color: #999;
    display: inline-block;
    text-decoration: none;
    height: 48px;
    width: 50px;
    padding: 15px 0px;
    line-height: 8px;
}
.mobilemenu .rsphone a span {
    visibility: hidden;

}
.mobilemenu .rsphone {
    float: left;

}
.mobilemenu .rsmap a {
    color: #999;
    display: inline-block;
    text-decoration: none;
    height: 48px;
    width: 50px;
    padding: 15px 0px;
    line-height: 8px;
}
.mobilemenu .rsmap a span {
    visibility: hidden;

}
}
